.login {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.tb {
    background-color: #3f51b4;
    position: relative;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    text-align: center;
}


@media screen and (max-width: 768px) {
    .dashboard {
        display: flex;
        flex-direction: column;
    }
}