.nav {
    top: 0px;
    position: sticky;
}

.login {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.bar {
    align-items: start;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}


@media screen and (max-width: 768px) {
    .dashboard {
        display: flex;
        flex-direction: column;
    }
}